<div class="container">
  <div class='wrapper'>
    <div class='top-inner-text'>
      <%= image_tag 'hayamap.png', class: 'd-block mx-auto img-fluid'%>
    </div>
    <div class="row route-form">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <%= form_with url: route_path, method: :get, local: true do |f| %>
        <div class="form-group">
          <%= f.label :出発地 %>
          <%= f.text_field :start_point, value: params[:start_point], class: 'form-control', placeholder: '駅名 地名 建物名 住所など' %>
        </div>
        <div class="form-group">
          <%= f.label :目的地 %>
          <%= f.text_field :goal_point, value: params[:goal_point], class: 'form-control', placeholder: '駅名 地名 建物名 住所など' %>
        </div>
        <div class="form-group">
          <%= f.label :希望到着時刻 %>
          <%= f.datetime_field :goal_time, value: params[:goal_time], class: 'form-control' %>
        </div>
        <div class="text-right">
          <%= f.submit 'ルート検索', class: 'btn btn-primary' %>
        </div>
      <% end %>
      </div>
    </div>
    <div class="new-user-text">
      <p><%= link_to 'ユーザー登録', new_user_path, class: "new-user-link"%>で時間調整や遅刻防止機能が使える!</p>
    </div>
  </div>
</div>