<html>
<head>
   <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8"/>
   <title>mapsample</title>
   <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
</head>
<script>
</script>
<body>
<div class="container" style="padding-top: 4rem">
    <div class="row">
        <div class="col-lg-3">
            <h1>出発時刻</h1>
            <h3><%= @start_time %></h3>
            <h1>ルート案内</h1>
            <% @route_info.each do |r| %>
                <% if r["name"] == "start" %>
                    <h4>出発地</h4>
                <% elsif r["name"] == "goal" %>
                    <h4>目的地</h4>
                <% elsif r["type"] == "point" %>
                    <% if r["node_types"] == ["station"] %>
                        <h4><%= r["name"] %>駅</h4>
                    <% else %>
                        <h4><%= r["name"] %></h4>
                    <% end %>
                <% end %>
                <% if r["type"] == "move" %>
                    <% if r["transport"] %>
                        <p><%= image_tag 'arrow.png',size: '15x20' %><%= Time.parse(r["from_time"]).strftime('%H:%M') %>発 (<%= r["time"] %>分)<br>
                        <%= image_tag 'arrow.png',size: '15x20' %><%= r["line_name"] %>(<%= r["transport"]["links"][0]["destination"]["name"] %>行き)</p>
                    <% else %>
                        <p><%= image_tag 'arrow.png',size: '15x20' %><%= r["line_name"] %>(<%= r["time"] %>分)</p>
                    <% end %>
                <% end %>
            <% end %>
        </div>
        <div class="col-lg-9">
            <div id="map" style="height: 600px; width: 100%;"></div>
        </div>
    </div>
</div>
<script>
     function getMapScript() {
         var defer = $.Deferred();
         $.ajax({
             type: 'GET',
             url: 'https://navitime-maps.p.rapidapi.com/map_script?host=localhost',
             dataType: 'text script',
             cache: true,
             headers: {
                 'x-rapidapi-key': '<%=ENV["NAVITIME_KEY"]%>'
             },
             success: function(response) {
                 console.log("success");
                 defer.resolve();
             },
             error: function(response) {
                 console.log("error");
                 defer.reject();
             }
         });
         return defer.promise();
     }

     // Must be done after getMapScript() is completed.
     function init() {
         console.log("init");
         var displayMap = getMapScript();
         displayMap.done(function() {
             console.log("display map");
             var map = new navitime.geo.Map('map', new navitime.geo.LatLng(<%= @start_lat_lon %>), 15, {
                 // Fit to the map display area
                 bounds: new navitime.geo.BoundsInfo(0, $('#map').width(), 0, $('#map').height())
             });
             var route =  {
                "type":"FeatureCollection",
                "features":[
                  {
                    "type":"Feature",
                    "geometry":{
                      "type":"LineString",
                      "coordinates":<%= @route_shape %>
                    }
                  }
                ]
              };
             navitime.geo.GeoJSON.draw({map: map, json: route});
         });
     }
     window.onload = init
</script>
</body>
</html>
